# Projeto 1 

O projeto tem o objetivo de classificar os vinhos entre vermelho e branco.

In [1]:
#--- Bibliotecas

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler

#--- Configurações adicionais

plt.style.use("seaborn-muted")
%matplotlib inline
pd.set_option('display.max_columns', None)

## 1. Concatenando os bancos de dados

In [2]:
banco_red = pd.read_csv("data/winequality-red.csv", sep = ";")
banco_white = pd.read_csv("data/winequality-white.csv", sep = ";")

banco_red["classification"] = 0
banco_white["classification"] = 1

banco = pd.concat([banco_red, banco_white], axis = 0)

In [3]:
banco.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,classification
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

In [4]:
banco["classification"].value_counts()

1    4898
0    1599
Name: classification, dtype: int64