# Previs√£o de alguma coisa que tenho que ler depois

## Importando as bibliotecas

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Importando os dados

In [3]:
dados = pd.read_csv(filepath_or_buffer = "data/mock_kaggle.csv")

dados.head()

         data  venda  estoque  preco
0  2014-01-01      0     4972   1.29
1  2014-01-02     70     4902   1.29
2  2014-01-03     59     4843   1.29
3  2014-01-04     93     4750   1.29
4  2014-01-05     96     4654   1.29