# Grupo de estudos em DS w/ Python

Tema: Random Forest e API com Flask

### Criando um modelo simples para o dataset IRIS

In [1]:
import pandas as pd
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import pickle

In [2]:
dados = pd.read_csv("https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/639388c2cbc2120a14dcf466e85730eb8be498bb/iris.csv")

dados.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
x = dados.drop("species", axis = 1)

y = dados["species"]

In [4]:
log_reg = LogisticRegression(random_state = 1234, n_jobs = -1)

log_reg.fit(x, y)

LogisticRegression(n_jobs=-1, random_state=1234)

In [5]:
#--- Repetindo a primeira linha

log_reg.predict(X = [[5.1, 3.5, 1.4, 0.2]])

array(['setosa'], dtype=object)

In [6]:
#--- Serializando

pickle.dump(log_reg, open('model.pkl', 'wb'))

In [7]:
#--- Testando se essa desgraça funciona

from joblib import load

modelo_teste = load("model.pkl")

In [8]:
modelo_teste

LogisticRegression(n_jobs=-1, random_state=1234)

In [9]:
#--- verificando se ela acerta com as últimas informações

dados.tail(1)

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica

In [10]:
#--- Claro, né

modelo_teste.predict(X = dados.drop("species", axis = 1).tail(1).values)

array(['virginica'], dtype=object)